page-details {
    ion-card{
        width: 100vw !important;
        margin: auto !important;
    }
    .image{
        width: 70%;
        margin: auto;
    }
    
    ion-icon {
        .iconYellow{
            color: #f4e242 !important;
        }
    }
}